tr {
    border-width: 100%;
    border-color: black;
}  
   
table {
    border-width: 100%;
    border-color: rosybrown;
    
}

td {
   border-width: 100%;
   border-color: black;
}

body {
    text-align: center;
}
