tr {
    border-width: 50vw;
    border-color: black;
        border-height: 50vh;
    text-align: center; 
}  
   
table {
    border-width: 50vw;
      border-height: 50vh;
    border-color: rosybrown;
      text-align: center; 
}

td {
   border-width: 50vw;
      border-height: 50vh;
   border-color: black;
    text-align: center; 
}

body {
    text-align: center;
}
